{{ define "content" }}

<h1>記事一覧</h1>
<div class="row">
<div class="form-group text-lef col-3">
  <form method="post" action="/articles" id="categoryForm">
  <select class="form-select" name="CategoryId" id="categoryId" onchange="document.getElementById('categoryForm').submit()" aria-label="Default select example">
    <option selected>カテゴリから絞り込む</option>
    {{ range $i,$v := .Category }}
    <option value={{.ID}}>{{.Name}}</option>
    {{ end }}
  </select>
  </form>
</div>
</div>
<div class="table-responsive">
<table class="table-success table-striped table-hover col-12 text-nowrap" >
  <thead>
      <tr>
          <th>タイトル</th>
          <th>カテゴリ</th>
          <th>ライター</th>
          <th>いいね</th>
      </tr>
  </thead>
  <tbody>
    <tr>
  {{ range $i, $v := .Art }}
  
  <td>
    {{ if eq $i 0}}
    <i class="fa-solid fa-crown"></i>
    {{ end }}
    <a href="/article/show/{{.ID}}">{{ .Title }}</a></td>
  <td>{{ .Category.Name }}</td>
  <td>{{ .ExUser.Name }}</td>
  <td>{{ .Likes }}</td>
</tr>
{{end}}
</tbody>
</table>
</div>
<hr>
{{end}}