{{ define "content" }}

<div class="container my-5">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <input type="hidden" id="articleId" value="{{ .Art.ID }}">
          <input type="hidden" id="userId" value="{{ .User.ID }}">
          <h1 class="my-4">{{ .Art.Title }}</h1>
          <p><strong>著者:</strong> {{ .Art.ExUser.Name }}</p>
          <p><strong>投稿日:</strong> {{ .Art.CreatedAt }}</p>
          <hr>
          <p>{{ .Art.Plot }}</p>
      </div>
  </div>
  {{ if and (eq .S "viewer") (.User.LikeNum)}}
  <button type="button" class="btn btn-outline-primary" id="like-button" value="{{ .Art.Likes }}">いいね {{ .Art.Likes }}</button>
  {{ else if and (not .User.LikeNum)  (eq .S "viewer")}}
  <button type="button" class="btn btn-dark disabled" id="disabled-like-button" value="{{ .Art.Likes }}">本日いいね済み</button>
  {{ end }}
</div>

<script>
  $('#like-button').click(function() {
  // 記事のIDを取得
  var articleId = $("#articleId").val();

  // ユーザーid
  var userId = $("#userId").val();

  // CSRFトークンを取得
  var csrfToken = $('meta[name="csrf-token"]').attr('content');

  // Ajaxリクエストを送信
  $.ajax({
    url: '/like-article',
    type: 'POST',
    data: {
      'articleId': articleId,
      'userId': userId,
      '_csrf': csrfToken
    },
    success: function(res) {
      // いいね数を更新
      $("#like-button").prop('disabled', true);
      $("#like-button").css("background-color", "black");;
      $("#like-button").text("いいね "+res.likes);
    },
    error: function(xhr, status, error) {
      // エラー処理
    }
  });
});

</script>

{{end}}