{{ define "content" }}

<div class="row justify-content-center mt-5">
  <hr class="col-md-8">
</div>

<div class="row justify-content-center mt-4">
  <div class="col-md-8">
    <div class="card h-100 d-flex flex-column">
      <div class="card-body flex-grow-1">
        <h5 class="card-title">{{ .Art.Title }}</h5>
        <p class="card-text">{{ .Art.Plot }}</p>
        <hr>
        <p class="card-text"><small class="text-muted">著者: {{ .Art.ExUser.Name }} / カテゴリ: {{ .Art.Category.Name }} / 投稿日: {{ .Art.CreatedAt }}</small></p>
      </div>
    </div>
  </div>
</div>
  

  <div class="row justify-content-center">
    <hr class="col-7 ">
  {{ if and (eq .S "viewer") (.User.LikeNum)}}
  <button type="button" class="btn btn-outline-primary" id="like-button" value="{{ .Art.Likes }}">いいね {{ .Art.Likes }}</button>
  {{ else if and (eq .S "viewer") (not .User.LikeNum)  }}
  <button type="button" class="btn btn-dark disabled" id="disabled-like-button" value="{{ .Art.Likes }}">本日いいね済み</button>
  {{ else if eq .S "expert" }}
  <div class="justify-content-center">
  いいね数 : {{ .Art.Likes }}
  </div>
  {{ end }}
  <input type="hidden" id="articleId" value="{{ .Art.ID }}">
  <input type="hidden" id="userId" value="{{ .User.ID }}">
  
</div>
</div>

<script>
  $('#like-button').click(function() {
  // 記事のIDを取得
  var articleId = $("#articleId").val();

  // ユーザーid
  var userId = $("#userId").val();

  // CSRFトークンを取得
  var csrfToken = $('meta[name="csrf-token"]').attr('content');

  // Ajaxリクエストを送信
  $.ajax({
    url: '/like-article',
    type: 'POST',
    data: {
      'articleId': articleId,
      'userId': userId,
      '_csrf': csrfToken
    },
    success: function(res) {
      // いいね数を更新
      $("#like-button").prop('disabled', true);
      $("#like-button").css("background-color", "black");;
      $("#like-button").text("いいね "+res.likes);
    },
    error: function(xhr, status, error) {
      // エラー処理
    }
  });
});

</script>

{{end}}