{{ define "content" }}

<h1>記事一覧</h1>
 
<p>[<a href="/voTalk/new">Create</a>]</p>
<hr>
 
<div class="table-responsive">
<table class="table-success table-striped table-hover col-12 text-nowrap" >
  <thead>
      <tr>
          <th>タイトル</th>
          <th>カテゴリ</th>
          <th>ライター</th>
          <th>いいね</th>
      </tr>
  </thead>
  <tbody>
    <tr>
  {{ range $i, $v := .Art }}
  
  <td>
    {{ if eq $i 0}}
    <i class="fa-solid fa-crown"></i>
    {{ end }}
    <a href="/article/show/{{.ID}}">{{ .Title }}</a></td>
  <td>{{ .CategoryId }}</td>
  <td>{{ .ExUser.Name }}</td>
  <td>{{ .Likes }}</td>
</tr>
{{end}}
</tbody>
</table>
</div>
<hr>


{{end}}