{{ define "content" }}

<style>

  .google-login-button {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
  }
</style>

<form class="form-signin center" role="form" action="/authenticate" method="post">
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o">
      {{.}}ログイン
    </i>
  </h2>
  <input type="hidden" id="lastUrl" name="lastUrl" value={{.}}>
  <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
  <input type="password" name="password" class="form-control" placeholder="パスワード">
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
  <br/>
  <div class="d-flex justify-content-center">
      <a href="/auth/login/{{.}}/google"><img class="img-fluid" src="/static/src/google/login_button.png" alt="Google_login"></a>
    </div>
  <br/>
  <a class="lead pull-right" href="/signup/{{.}}">会員登録はこちら</a>
</form>
{{end}}