{{ define "content" }}
<h2 class="p-4">マイ記事一覧</h2>
<div class="text-right">
  <a href="/expert/article/new">
<button type="button" class="m-2 btn btn-success">投稿✙</button>
</a>
</div>
<div class="table-responsive">
  <table class="table-success table-striped table-hover col-12 text-nowrap" >
    <thead>
        <tr>
            <th>タイトル</th>
            <th>カテゴリ</th>
            <th>いいね</th>
            <th>投稿日</th>
        </tr>
    </thead>
    <tbody>
      <tr>
    {{ range $i, $v := .Art }}
    
    <td>
      <a href="/article/show/{{.ID}}">{{ .Title }}</a></td>
    <td>{{ .Category.Name }}</td>
    <td>{{ .Likes }}</td>
    <td>{{ .CreatedAt }}</td>
    <td>
      <a href="/article/edit/{{.ID}}">
        <button type="button" class="btn btn-primary btn-sm">編集</button>
      </a>
      <a href="#" data-toggle="modal" data-target="#deleteModal" data-articleid="{{.ID}}">
        <button type="button" class="btn btn-danger btn-sm">削除</button>
      </a>
    </td>
  </tr>
<!-- モーダルhtml -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">記事を削除しますか？</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <a href="/article/delete/{{.ID}}">
            <button type="button" class="btn btn-danger">削除</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{end}}
  </tbody>
  </table>
  </div>



  
<!-- 削除ボタンモーダル -->


<script>
  $('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var articleId = button.data('articleid')
    var modal = $(this)
    modal.find('.modal-footer a').attr('href', '/article/delete/' + articleId)
  })
</script>
{{ end }}