{{ define "content" }}
{{ if .Flash}}
<div class="alert alert-success" role="alert">
  {{.Flash}}
</div>
{{ end }}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="form-signin" role="form" action="/{{.S}}/mypage/edit" method="post">
        <h2 class="text-center mb-4">会員情報変更</h2>
        <input type="hidden" id="userType" name="userType" value="{{.S}}">
        <input type="hidden" id="userId" name="userId" value="{{.User.ID}}">
        <label for="email">メールアドレス</label>
        <input type="email" id="email" name="email" class="form-control mb-3" value="{{.User.Email}}" required autofocus disabled>
        {{ if eq .User.IsOauth 0 }}
        {{.User}}
        <label for="new-email">新しいメールアドレス</label>
        <input type="email" id="new-email" name="new-email" class="form-control mb-3" value="" required autofocus>
        <label for="confirm-email">確認用</label>
        <input type="email" id="confirm-email" name="confirm-email" class="form-control mb-3" value="" required autofocus>
        <div id="email-match-error" class="invalid-feedback">新しいメールアドレスと確認用のメールアドレスが一致しません。</div>
        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">変更</button>
        {{ end }}
      </form>
      <a class="btn btn-danger btn-block col-5" data-toggle="modal" data-target="#confirmModal">退会する</a>

      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">退会の確認</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              本当に退会しますか？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
              <a class="btn btn-danger" href="/{{.S}}/delete">退会する</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  // フォーム送信前に新しいメールアドレスと確認用のメールアドレスが一致しているかチェックする
  document.querySelector('form').addEventListener('submit', function(event) {
    if (document.getElementById('new-email').value !== document.getElementById('confirm-email').value) {
      event.preventDefault();
      document.getElementById('email-match-error').style.display = 'block';
      document.getElementById('new-email').classList.add('is-invalid');
      document.getElementById('confirm-email').classList.add('is-invalid');
    }
  });
  </script>
  {{end}}