{{ define "navbar" }}
<div class="container">
    <a class="btn btn-success" href="/">トップ</a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          ログイン
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/login/viewer">ビューワーとしてログイン</a></li>
          <li><a class="dropdown-item" href="/login/expert">エキスパートとしてログイン</a></li>
        </ul>
      </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          登録
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/signup/viewer">ビューワーとして登録</a></li>
          <li><a class="dropdown-item" href="/signup/expert">エキスパートとして登録</a></li>
        </ul>
      </div>
</div>




  {{end}}