{{ define "navbar" }}
<div class="container">
    <div class="container mx-auto py-3">
        <div class="flex justify-start">
          <a class="btn btn-outline-success btn-lg mr-4" href="/">トップ</a>
          <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle btn-lg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              ログイン
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login/viewer">ビューワーとしてログイン</a></li>
              <li><a class="dropdown-item" href="/login/expert">エキスパートとしてログイン</a></li>
            </ul>
          </div>
          <div class="dropdown ml-4">
            <button class="btn btn-outline-dark dropdown-toggle btn-lg" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              登録
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" href="/signup/viewer">ビューワーとして登録</a></li>
              <li><a class="dropdown-item" href="/signup/expert">エキスパートとして登録</a></li>
            </ul>
          </div>
        </div>
      </div>
      
  
  




  {{end}}